
    <canvas id="renderCanvas"></canvas>


    <div id="menu">
        <nav>
            <h2><i class="fa fa-reorder"></i>AzureLens</h2>
            <ul>
                <li>
                    <a href="#">New<img src="./svg/new.svg" class="menuicon" /></a>
                    <h2>New<img src="./svg/new.svg" class="menuicon" /></h2>
                    <ul>
                        <li>
                            <a href="#">Diagram</a>
                        </li>
                        <li>
                            <a href="#">Resource</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#">Browse<img src="./svg/browse.svg" class="menuicon" /></a>
                    <h2>Browse<img src="./svg/browse.svg" class="menuicon" /></h2>
                    <ul>
                        <li>
                            <a href="#">Diagrams</a>
                            <h2>Diagrams</h2>
                            <ul>
                                <li>
                                    <a href="#">1 - How-Old.net</a>
                                </li>
                                <li>
                                    <a href="#">2 - Test</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">Resources</a>
                            <h2>Resources</h2>
                            <ul>
                                <li>
                                    <a href="#ni">Web Apps</a>
                                </li>
                                <li>
                                    <a href="#ni">Virtual Machines</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#">Navigate<i class="fa fa-eye"></i></a>
                    <h2>Navigate<i class="fa fa-eye"></i></h2>
                    <ul></ul>
                </li>
                <li>
                    <a href="#">Notifications<img src="./svg/notification.svg" class="menuicon" /></a>
                    <h2>Notifications<img src="./svg/notification.svg" class="menuicon" /></h2>
                    <ul>
                        <li>
                            <a href="#ni">Configure</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#">Settings<img src="./svg/settings.svg" class="menuicon" /></a>
                    <h2>Settings<img src="./svg/settings.svg" class="menuicon" /></h2>
                    <ul>
                        <li>
                            <a href="#ni">Switch Subscriptions</a>
                        </li>
                        <li>
                            <a href="#ni">General Settings</a>
                        </li>
                        <li>
                            <a href="#ni">Navigation Mode</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </nav>
    </div>
    <div id="viewSwitchDiv">
        <div id="switch2d" onclick="lens.notImplemented();">2D</div>&nbsp;
        <div id="switch3d">3D</div>

    </div>

    <div id="popupDiv">
        <div id="popupName" style="font-weight:600;"></div>
        <br />
        <div id="popupDescription"></div>
        <div id="popupExpand"><i class="fa fa-expand" style="top:3px;left:4px;position:absolute;"></i></div>
    </div>
    <div id="expandedPopupDiv">
        This UI hasn't been built yet. Here's where we would interact with each component.
        <div id="expandedClose"><i class="fa fa-close" style="top:3px;left:4px;position:absolute;"></i></div>
    </div>


    <script type="text/javascript">
        var lens = null;

    </script>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/babylon")
    @Scripts.Render("~/bundles/app")
    @Scripts.Render("~/Scripts/hand.minified.js")

  
    <script type="text/javascript">
        $(document).ready(function () {
            var xmlhttp = new XMLHttpRequest();
            xmlhttp.open("GET", "SampleModels/AzureLens.json", true);
            xmlhttp.onreadystatechange = function () {
                if (xmlhttp.readyState == 4 && xmlhttp.status == 200) {
                    lens = new AzureLens();
                    lens.createScene(xmlhttp.responseText);

                }
            }
            xmlhttp.send();
        });
    </script>
    <div style="display:none">
        AzureLens.net prototype is an experimental interactive dashboard for Microsoft Azure.

        2015 Microsoft. All rights reserved.
        Contact: mat.velloso@microsoft.com
    </div>

